body {
  background-color: #272044;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/scavenger-header-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  padding: 0 20px;
  text-align: center;
}

h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background-color: #fff;
  color: #462cb3;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 32px;
  max-width: 300px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: white;
}

main h2 {
  color: #272044;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.3;
}

main h3 {
  color: #272044;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  color: #272044;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  color: #272044;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

main p {
  color: #272044;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 5px;
  line-height: 1.5;
  opacity: 0.7;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/stockport-view-footer-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 20px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  opacity: 0.7;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-gap: 32px;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-3-columns-1-small {
  grid-template-columns: 1fr 2fr 2fr;
}

.intro-img {
  display: block;
  max-height: 500px;
  margin: 0 auto;
}

.img-responsive {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}

.embed {
  aspect-ratio: 1/1;
  width: 100%;
}

.card {
  padding: 30px;
}

.card-header {
  max-width: 100%;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  background-color: #462cb3;
  color: white;
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 21px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.gallery .grid {
  padding: 30px;
}

.photo {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.scavenger-container {
  display: block;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 50px 100px;
}

.scavenger-hunt-page {
  margin: 10px 0;
  width: 100%;
}

.scavenger-container .btn {
  max-width: 300px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header img {
    width: 100%;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  main h2,
  main h3 {
    text-align: center;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .card-header img {
    display: none;
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .embed {
    aspect-ratio: 16/9;
  }

  .scavenger-container {
    max-width: 400px;
    padding: 50px 10px;
  }
}
